body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ed66ae;
}

#characterSelection h1 {
    font-size: 20px; /* Adjust the font size as needed */
}

h1 {
    color: #0e050a;
}

button {
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

.character {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.character img {
    width: 100px; 
    height: auto;
    margin: 50px;
}

.character.selected-character img {
    opacity: 1; /* Ensure selected character is fully visible */
}

